.body{
    background: cover;
}
.heading{
    width: 100%;
    text-align: left;

}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
    font-family:fantasy;
}
.big_image{
    width: 100%;
    
}
#start{
    font-size: 22px;

}
#status{
    font-size: 22px;
}
.btns{
    font-family: sans-serif;
}
#start{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(0, 44, 61);
    background-color: rgba(0, 235, 0, 0.863);
    font-size: 25px;
    border-radius: 30px;
    font-weight: bolder;
}
h4{
    background-color: white;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display: inline-block;
    width: 45%;

}
.modal-header{
    background-color: rgb(48, 240, 30);}
    .h4312{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: rgb(0, 204, 255);
    }
